* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    font-size: 10px;
    font-family: 'lato',Arial, Helvetica, sans-serif;
}
body {
    background-color: black;
    color: #f0f0f0;
    min-height: 100vh;
}
header {
    font-size: 2rem;
}
header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(30%);
  }

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: rgb(201, 192, 192);
}
.todo-input {
    color: rgb(31, 31, 31);
}

.todo-input::placeholder {
    color: grey;       
    font-size: 1.6rem; 
    font-style: italic; 
    opacity: 0.7;      
}


.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list {
    min-width: 32rem;
    width: 50vw;
    list-style: none;
}
.todo {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 0.5rem;
    background: rgb(201, 192, 192);
    /* color: black; */
    transition: all 0.3s ease;
}

.todo li {
    color: black;
}
.todo button {
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 2rem;
    transition: transform 0.2s ease;
}
.todo button:hover {
    transform: scale(1.1);
}

.todo-btn {
    background-color: rgb(201, 192, 192);
    padding: 10px 20px;
    /* border-radius: 5px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color: black;
    position: relative;
    overflow: hidden;
    /* height: 10px; */
  }
  
  .todo-btn span {
    position: relative;
    z-index: 1;
  }
  
  .todo-btn::before {
    content: "";
    position: absolute;
    background-color: orangered;
    width: 0;
    height: 0;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;
  }
  
  .todo-btn:hover::before {
    width: 300px;
    height: 300px;
  }
  
.todo li {
    flex: 1;
}
.completed {
    text-decoration: line-through;
    opacity: 0.5;
}
.fade-away {
    transform: translateX(10rem);
    opacity: 0;
}

.edit-input {
    font-size: 1.6rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    width: 100%;
}

